<h2 class="page-header">Gimme dApp FAQ's</h2>
<h3>OverView</h3>
<p>Gimme Dapp is a social platform for the community to help the developers improve on their is ideas with feedback. Thumbs up for 'that's good', Thumbs down for 'kill it' Developers are encouraged to submit ideas and push the limits, the voting public is encouraged to keep developers from making stupid useless dapps.
</p>
<h3>Why tho?</h3>
<p>Because really great programmers and designers can have really bad ideas sometimes. And because telling your pseudo-anonymous opinion to strangers is what the internet is all about!</p>
<h3>Why do you need my email?</h3>
<p>Because I dont trust you. Well, humans in general. Your email is used to make it difficult to make mutiple accounts and throw off the voting algorithm.</p>
<h3>How are votes counted?</h3>
<p>Currently one vote is one vote. This could change once more data on voting patterns is collected and features such as collaborative filtering is integrated.</p>
<h3>Why should I trust any of the devs?</h3>
<p> You shouldn't. Verify everything. The developers on this site are hoping to get funding and publicity for their creations. If you think they are ligite, please donate to them after doing some research.</p>
<H3>Why is this site so terrible?</h3>
<p>Because you are not donating enough for the developers to work on it full time! ETC donations:0x17dAfbe0dA3f55268e543Fb85283c30Aba54CaDE</p>
