extends ../layouts/layout

block head
  title #{application} &middot; Home

block styles
  link(rel='stylesheet', href='/lib/devicons/css/devicons.min.css')
  //- link(rel='stylesheet', href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css')
  link(rel='stylesheet', href='/css/page-api.min.css')

block content

  .mini-tron
    .container

      h1 Welcome to #{application}!
      p
        | Lets find some dapps!
  .container
    .row
      //- .col-sm-10.col-sm-offset-1
      .col-sm-12
      div
        h3 Recently Added:
        #[a(href ='#') see more]
        // add top 10 most recent dapps
        #userList
          table.table.table-striped
            thead
              th Name
              th.hidden-xs Email
              th.hidden-xs Date Established
              th Last Active
              th Account Type
              th Is Admin?
              th Delete?
            tbody
    block scripts
      script.
        var userListData= {};
        $(document).ready(function() {

        //- Async Load Bootstrap Modal
          $.ajax({
            type: 'GET',
            url: 'lib/bootstrap/js/modal.js',
            dataType: 'script',
            cache: true
            });

        //- Async Load moment.js
          $.ajax({
            type: 'GET',
            url: 'lib/moment/min/moment.min.js',
            dataType: 'script',
            cache: true
            }).done(function(script, textStatus) {
          // Now populate the user table
            populateTable();
            });
          });

        function populateTable() {
          var tableContent = '';

        // jQuery AJAX call for JSON
          $.getJSON( '/accountlist', function( data ) {

          // Stick our user data array into a userlist variable in the global object
            userListData = data;

          // For each item in our JSON, add a table row and cells to the content string
            $.each(data, function(){
              tableContent += '<tr>';
              tableContent += '<td><a href="#" class="linkshowuser btn btn-info btn-xs"" rel="' + this._id + '" title="Show Details">' + this.profile.name + '</td>';
              tableContent += '<td class="hidden-xs"><a href="mailto:' + this.email + '">' + this.email + '</a></td>';
              tableContent += '<td class="hidden-xs">' + moment(this.activity.date_established).format('MMMM Do YYYY') + '</td>';
              tableContent += '<td>' + moment(this.activity.last_logon).fromNow() + '</td>';
              tableContent += '<td>' + this.type + '</td>';
              tableContent += '<td><a href="#" class="linkchangeusertype btn btn-danger btn-xs" rel="' + this._id + '">Make Admin?</a></td>';
              tableContent += '<td><a href="#" class="linkdeleteuser btn btn-danger btn-xs" rel="' + this._id + '">Danger!</a></td>';
          });

          // Inject the whole content string into our existing HTML table
          $('#userList table tbody').html(tableContent);
        });

        };

      div
        h3 Most Popular
        #[a(href ='#') see more]
      // add top 10 most recent dapps
      script.
        if (10 == 10) {
          alert("working")
          }

      div
        h3 Released Dapps
        #[a(href ='#') see more]
      // add top 10 most recent dapps
      script.
        if (10 == 10) {
          alert("working")
          }


      div
        h3 Beta Testing
        #[a(href ='#') see more]
      // add top 10 most recent dapps
      script.
        if (10 == 10) {
          alert("working")
          }


      div
        h3 Top ideas
        #[a(href ='#') see more]
      // add top 10 most recent dapps
